<div class="cartBody" *ngIf="cartItems.length > 0">
  <div class="products">
    <h2>Number of items: {{ cartItems.length }}</h2>
    <app-added-product-card
      *ngFor="let product of cartItems"
      [product]="product"
    ></app-added-product-card>
  </div>
  <div class="checkout">
    <div class="checkoutContainer">
      <h1>Checkout</h1>
      <h3>Total: {{ getTotal() }} $</h3>
      <hr width="100%" />
      <mat-form-field>
        <mat-label>Voucher</mat-label>
        <input matInput />
      </mat-form-field>
      <button mat-raised-button>Apply Voucher</button>
      <hr width="100%" />
      <button
        mat-raised-button
        style="background-color: orange"
        routerLink="/checkout"
      >
        Checkout
      </button>
    </div>
  </div>
</div>
<div *ngIf="cartItems.length === 0" class="noItems">
  <img
    src="https://i.pinimg.com/originals/81/c4/fc/81c4fc9a4c06cf57abf23606689f7426.jpg"
  />
  <h1>Ooppss ...</h1>
  <h2>Your cart is empty</h2>
  <button mat-raised-button color="warn" routerLink="/products">
    Continue Shopping
  </button>
</div>
