<div class="cartBody">
  <div class="products">
    <app-added-product-card
      *ngFor="let product of cartItems"
      [product]="product"
    ></app-added-product-card>
  </div>
  <div class="checkout">
    <div class="checkoutContainer">
      <h1>Checkout</h1>
      <h3>Total: {{ getTotal() }} $</h3>
      <hr width="100%" />
      <mat-form-field>
        <mat-label>Voucher</mat-label>
        <input matInput />
      </mat-form-field>
      <button mat-raised-button style="margin: 20px 0">Apply Voucher</button>
      <hr width="100%" />
      <button
        mat-raised-button
        style="background-color: orange; margin: 20px 0"
      >
        Checkout
      </button>
    </div>
  </div>
</div>

<!-- <div class="cartBody">
  <mat-stepper orientation="vertical">
    <mat-step color="accent">
      <ng-template matStepLabel>Step 1</ng-template>
      <ng-template matStepContent> </ng-template>
    </mat-step>
    <mat-step color="accent">
      <ng-template matStepLabel>Step 2</ng-template>
      <ng-template matStepContent>
        <p>This content was also rendered lazily</p>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </ng-template>
    </mat-step>
    <mat-step color="accent">
      <ng-template matStepLabel>Step 3</ng-template>
      <p>This content was rendered eagerly</p>
      <button mat-button matStepperPrevious>Back</button>
    </mat-step>
  </mat-stepper>
</div> -->
