<div class="cartBody">
  <app-added-product-card
    *ngFor="let product of cartItems"
    [product]="product"
  ></app-added-product-card>
</div>

<!-- <div class="cartBody">
  <mat-stepper orientation="vertical">
    <mat-step color="accent">
      <ng-template matStepLabel>Step 1</ng-template>
      <ng-template matStepContent> </ng-template>
    </mat-step>
    <mat-step color="accent">
      <ng-template matStepLabel>Step 2</ng-template>
      <ng-template matStepContent>
        <p>This content was also rendered lazily</p>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </ng-template>
    </mat-step>
    <mat-step color="accent">
      <ng-template matStepLabel>Step 3</ng-template>
      <p>This content was rendered eagerly</p>
      <button mat-button matStepperPrevious>Back</button>
    </mat-step>
  </mat-stepper>
</div> -->
