<mat-card class="example-card">
  <img
    mat-card-image
    [routerLink]="['/products', product.id]"
    src="{{ product.image }}"
  />
  <mat-chip class="chip" *ngIf="product.isNew">NEW</mat-chip>
  <mat-card-header
    ><mat-card-title [routerLink]="['/products', product.id]">{{
      product.title
    }}</mat-card-title>
  </mat-card-header>

  <mat-card-content align="start">
    <h4>{{ product.price }} $</h4>
    <p style="color: gray">
      {{ product.available ? "In stock" : "Out of stock" }}
    </p>
    <div *ngIf="product.rating; else noRating">
      <mat-icon
        class="filledStar"
        *ngFor="let i of createRange(product.rating!)"
        >star</mat-icon
      >
      <mat-icon
        class="emptyStar"
        *ngFor="let i of createRange(5 - product.rating!)"
      >
        star
      </mat-icon>
    </div>
    <ng-template #noRating>
      <div>
        <mat-icon style="color: gray" *ngFor="let if of createRange(5)"
          >star</mat-icon
        >
      </div>
    </ng-template>
  </mat-card-content>
  <mat-card-actions align="end">
    <button
      [disabled]="!product.available"
      mat-button
      style="background-color: orange; width: 100%"
      (click)="addToCart(product)"
    >
      Add to cart
    </button>
  </mat-card-actions>
</mat-card>
