<mat-card class="example-card" style="cursor: pointer">
  <mat-card-header>
    <mat-card-title [routerLink]="['/products', product.id]">{{
      product.title
    }}</mat-card-title>
  </mat-card-header>
  <img
    mat-card-image
    [routerLink]="['/products', product.id]"
    src="{{ product.image }}"
    height="300px"
    width="300px"
  />
  <mat-card-content align="center">
    <!-- <p>{{ product.description }}</p> -->
    <h2 style="margin-left: 20px">{{ product.price }}</h2>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button style="background-color: orange; width: 100%">
      Add to cart
    </button>
  </mat-card-actions>
</mat-card>
