<div class="container">
  <section id="about-us">
    <h2>About Us</h2>
    <p>
      Welcome to Car Cleaning Products, your one-stop shop for all your car
      detailing needs. We specialize in providing high-quality cleaning and
      detailing products that ensure your car remains sparkling clean inside and
      out.
    </p>
    <p>
      At Car Cleaning Products, we understand the passion car enthusiasts have
      for their vehicles. That's why we offer a wide range of products,
      including car wash soaps, interior cleaners, wax, polish, and much more.
    </p>
    <p>
      Our team consists of experts in the field of car detailing who are
      dedicated to delivering exceptional products and customer service. We
      strive to exceed your expectations with every purchase.
    </p>
    <p>
      Whether you're a professional detailer or a car enthusiast, we have the
      products you need to keep your vehicle looking its best. Shop with us
      today and experience the difference!
    </p>
  </section>

  <section class="video">
    <iframe
      width="700"
      height="415"
      src="https://www.youtube.com/embed/Bc0rHK21T2s"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </section>
</div>
