<div class="header">
  <img
    src="https://logowik.com/content/uploads/images/car-cleaning-service3510.logowik.com.webp"
  />
  <div class="nav">
    <a class="nav-link" routerLink="/home"> Home </a>
    <a class="nav-link" routerLink="/products"> Products </a>
    <a class="nav-link" routerLink="/about"> About </a>
    <a *ngIf="checkIfAdmin()" class="nav-link" routerLink="/admin"> Admin </a>
  </div>
  <div class="icons">
    <button mat-icon-button>
      <mat-icon class="icon">account_circle</mat-icon>
    </button>
    <button
      matBadge="{{ cartCount }}"
      matBadgeColor="warn"
      mat-icon-button
      (click)="openCart()"
    >
      <mat-icon class="icon">shopping_cart</mat-icon>
    </button>
  </div>
</div>
