<div style="margin-top: 20px">
  <mat-accordion>
    <mat-expansion-panel style="width: 300px">
      <mat-expansion-panel-header>
        <mat-panel-title> Category </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-radio-group style="display: flex; flex-direction: column">
        <mat-radio-button
          value="interior"
          (click)="onCategoryFilterChange('Interior')"
          >Interior</mat-radio-button
        >
        <mat-radio-button
          value="exterior"
          (click)="onCategoryFilterChange('Exterior')"
          >Exterior</mat-radio-button
        >
        <mat-radio-button
          value="cleaners"
          (click)="onCategoryFilterChange('Cleaners')"
          >Cleaners</mat-radio-button
        >
      </mat-radio-group>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div style="margin-top: 20px">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Price </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field>
        <mat-label>Min</mat-label>
        <input
          matInput
          type="number"
          #lowPrice
          (change)="onPriceFilterChange(lowPrice.value, highPrice.value)"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Max</mat-label>
        <input
          matInput
          type="number"
          #highPrice
          (change)="onPriceFilterChange(lowPrice.value, highPrice.value)"
        />
      </mat-form-field>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div style="margin-top: 20px">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Rating </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-radio-group style="display: flex; flex-direction: column">
        <mat-radio-button value="5" (change)="onRatingFilterChange(5)">
          <mat-icon style="color: orange" *ngFor="let i of [1, 2, 3, 4, 5]"
            >star</mat-icon
          ></mat-radio-button
        >
        <mat-radio-button value="4" (change)="onRatingFilterChange(4)"
          ><mat-icon style="color: orange" *ngFor="let i of [1, 2, 3, 4]"
            >star</mat-icon
          ></mat-radio-button
        >
        <mat-radio-button value="3" (change)="onRatingFilterChange(3)"
          ><mat-icon style="color: orange" *ngFor="let i of [1, 2, 3]"
            >star</mat-icon
          ></mat-radio-button
        >
        <mat-radio-button value="2" (change)="onRatingFilterChange(2)"
          ><mat-icon style="color: orange" *ngFor="let i of [1, 2]"
            >star</mat-icon
          ></mat-radio-button
        >
        <mat-radio-button value="1" (change)="onRatingFilterChange(1)"
          ><mat-icon style="color: orange" *ngFor="let i of [1]"
            >star</mat-icon
          ></mat-radio-button
        >
      </mat-radio-group>
    </mat-expansion-panel>
  </mat-accordion>
</div>
