<div class="addedProduct">
  <div class="buttons">
    <button mat-icon-button (click)="onDelete(product)">
      <mat-icon class="icon">delete</mat-icon>
    </button>
    <button mat-icon-button (click)="onDelete(product)">
      <mat-icon class="icon">favorite</mat-icon>
    </button>
  </div>
  <div class="content">
    <img class="img" src="{{ product.image }}" />
    <h3>
      <b>{{ product.title }}</b>
    </h3>

    <div class="counter">
      <button
        mat-icon-button
        (click)="decreaseQuantityOfProduct(product)"
        [disabled]="product.quantity === 1"
      >
        <mat-icon>remove</mat-icon>
      </button>
      <h4>{{ product.quantity }}</h4>
      <button
        mat-icon-button
        (click)="increaseQuantityOfProduct(product)"
        [disabled]="product.available === false"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="priceInfo">
      <h2>{{ product.price * product.quantity }}$</h2>
    </div>
  </div>
</div>
